.search {
  // height: calc(100vh - 20rem);
  // width: calc(82.5vw - 20rem);
  height: 100vh;
  width: calc(100vw - 17.5vw);
  padding: 5rem 10rem;
  margin-left: auto;

  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &bar {
    width: 70%;

    display: flex;
    align-items: center;

    border-radius: 1rem;

    background-color: #fcfcfc;
    box-shadow: 0 0 10rem #eeeeee;

    padding: 2.4rem 1.6rem;
    margin-bottom: 2.4rem;

    p {
      color: $color-main;
      font-size: 2rem;
    }

    &-icon {
      font-size: 2.4rem;
      color: $color-main;
      margin-right: 2rem;
      cursor: pointer;
    }

    &-input {
      font-size: 1.8rem !important;
    }
  }

  &-quantity {
    width: 30%;
    border-radius: 1rem;

    background-color: #fcfcfc;
    box-shadow: 0 0 10rem #eeeeee;

    padding: 2.4rem 1.6rem;
    margin-bottom: 2.4rem;

    display: flex;
    align-items: center;
  }

  .results {
    width: 100%;
    border-radius: 1rem;

    // box-shadow: 0 0 10rem #dddddd;

    margin-bottom: 2.4rem;

    display: flex;
    flex-direction: column;

    gap: 1.2rem;

    &-title {
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
    }

    .result {
      font-size: 1.4rem;
      background-color: #fcfcfc;

      box-shadow: 0 0 10rem #eeeeee;

      padding: 1.6rem;
      border-radius: 1rem;

      &-price {
        text-align: left;
        font-weight: 700;
        font-size: 1.8rem;
        color: $color-main;

        padding-bottom: 1rem;
      }

      .strong {
        margin-bottom: 0.5rem;
      }

      &-name {
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }

      &-url {
      }
    }
  }
}

.loading-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  color: $color-main;
}
