.search {
  // height: calc(100vh - 20rem);
  // width: calc(82.5vw - 20rem);
  height: auto;
  width: calc(100vw - 17.5vw);
  padding: 5rem 10rem;
  margin-left: auto;

  &-container {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    // box-shadow: 0 0 10rem #eeeeee;
    margin: auto;
    margin-bottom: 2rem;
  }

  &bar {
    width: 85%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: #fcfcfc;
    padding: 1.4rem 1.8rem;
    margin-right: 1rem;

    p {
      color: $color-main;
      font-size: 2rem;
    }

    &-icon {
      &:hover {
        &-container {
          background-color: #fcfcfc;
        }
      }

      &-container {
        display: flex;

        transition: $transition;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 6rem;
        width: 8rem;
        border-radius: 1rem;
        background-color: $color-main;
        font-size: 2rem;
        color: #fcfcfc;

        &:hover {
          color: $color-main;
          background-color: #fcfcfc;
        }
      }
    }

    &-input {
      font-size: 1.6rem !important;
    }
  }

  &-quantity {
    width: 15%;
    border-radius: 1rem;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    padding: 1.4rem 1.8rem;
    margin-right: 1rem;
  }

  .results {
    width: 100%;
    border-radius: 1rem;

    // box-shadow: 0 0 10rem #dddddd;

    // margin-bottom: 2.4rem;

    display: flex;
    flex-direction: column;

    gap: 1.2rem;

    &-data {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      // gap: 1rem;

      &--title {
        font-size: 1.4rem;
        padding-right: 1rem;
        span {
          color: $color-main;
        }
      }
    }
  }
}

.show {
  visibility: visible;
  margin-right: 1rem;
}

.hide {
  visibility: hidden;
  margin-right: 1rem;
}

.saves-searches-list {
  width: 65%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 4rem;
  position: relative;
}

.saves-searches-list-box {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.saves-searches-list-box::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.saves-searches-list-box--chip {
  span {
    font-size: 1.4rem;
  }
}

.navigation-button {
  position: absolute;
  z-index: 1;
}

.navigation-button:first-of-type {
  left: 0;
}

.navigation-button:last-of-type {
  right: 0;
}

// .fade-effect {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 50px;
//   background: linear-gradient(
//     to left,
//     rgba(255, 255, 255, 1),
//     rgba(255, 255, 255, 0)
//   );
//   pointer-events: none;
// }
